%section.container
  .row
    %h1 Rails Vagrant Toybox!
  .row
    %p Find me in app/views/home/index.html.haml

    %p If you don't like a home controller, you can delete this entire set using 'rails d controller home index'. You'll want to update the root route as well. 


